:root {
  --primary: #00B274;
  --primary-text: #404040;
  --secondary-text: #FFFFFF;
  --primary-bg: #FAFAFA;
  --secondary-bg: #F2F2F2;
}

@font-face {
  font-family: Knockout-HTF47;
  src: url(./assets/Knockout-HTF47-Bantamweight.otf);
}

@font-face {
  font-family: Knockout-HTF48;
  src: url(./assets/Knockout-HTF48-Featherweight.otf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Knockout-HTF48', sans-serif;
  color: var(--primary-text);
  background-color: var(--secondary-bg);
}

h1, h2, h3, p, span {
  margin: 0;
  font-weight: 400;
  letter-spacing: .01em;
  text-transform: uppercase;
  text-align: center;
}

.container {
  background: var(--primary-bg);
  /* padding: 0 28px; */
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  height: 146px;
  background: url(./assets/Asset\ 2-100-2.jpg) center center/cover no-repeat;  
  object-fit: contain;
  flex-direction: column;
}

.header-title {
  color: var(--secondary-text);
}

.header-title.-larger {
  font-size: 7rem;
  line-height: .9em;
}

.header-title.-dashed {
  font-size: 3rem;
}

.header-title.-dashed::before,
.header-title.-dashed::after {
  background: var(--secondary-text);
  top: 50%;
}

.-dashed {
  font-size: 1.9rem;
  line-height: 1em;
  display: inline-flex;
  position: relative;
}

.-dashed::before,
.-dashed::after {
  content: '';
  display: block;
  width: 7px;
  height: 2px;
  background: var(--primary-text);
  position: absolute;
  top: 40%;
}

.-dashed::before {
  left: -15px;
}

.-dashed::after {
  right: -15px;
}

.section-title-wrapper {
  height: 64px;
  background: var(--primary);
}

.section-title {
  font-family: 'Knockout-HTF47';
  font-size: 4.2rem;
  color: var(--secondary-text);
  display: inline-flex;
  position: relative;
}

.section-title::before,
.section-title::after {
  content: '';
  display: block;
  width: 15.5px;
  height: 14.7px;
  background: url(./assets/Asset\ 3.svg) center center/cover no-repeat;
  position: absolute;
  top: 35%;
}

.section-title::before {
  left: -25px;
}

.section-title::after {
  right: -25px;
}

.title {
  font-size: 3.7rem;
  line-height: 1em;
}

.-larger {
  font-size: 6.3rem;
  line-height: .9em;
}

.title-wrapper {
  padding: 25px 0;
}

.separator {
  display: inline-flex;
  color: var(--primary);
  background: var(--primary-bg);
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.separator-bg {
  width: calc(100% - 40px);
  height: 10px;
  margin: 0 20px;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  width: 42.5%;
  margin-top: 20px;
}

.icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 17px;
}

.icon-title {
  font-size: 2.2rem;
}

.icon-title.small {
  width: 100px;
  margin: 0 auto;
}

.or {
  display: inline-flex;
  font-size: 1.9rem;
  background: var(--primary-bg);
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.or-bg {  
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 2px;
  background: var(--primary-text);
  position: absolute;
  top: 50%;
  left: 0;
}

.due {
  display: inline-flex;
  font-size: 2.5rem;
  background: var(--primary-bg);
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.due-bg {
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 15px;
  border: 2px solid var(--primary-text);
  border-bottom: 0;
  position: absolute;
  top: 45%;
  left: 0;
}

.drags .card {
  width: 23%;
}

.ribbon {
  /* width: 278px; */
  width: calc(100%-40px);
  height: 47px;
  background: url(./assets/Asset\ 9.svg) center center/cover no-repeat;
  margin-top: 40px;
}