:root {
  --primary: #00B274;
  --primary-text: #404040;
  --secondary-text: #FFFFFF;
  --primary-bg: #FAFAFA;
  --secondary-bg: #F2F2F2;
}

@font-face {
  font-family: Knockout-HTF47;
  src: url(./assets/Knockout-HTF47-Bantamweight.otf);
}

@font-face {
  font-family: Knockout-HTF48;
  src: url(./assets/Knockout-HTF48-Featherweight.otf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Knockout-HTF48', sans-serif;
  background-color: var(--secondary-bg);
}

p {
  margin: 0;
  font-weight: 400;
  letter-spacing: .01em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text);
}

.container {
  background: var(--primary-bg);
  /* padding: 0 28px; */
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-wrapper {
  padding: 25px 0;
}

.fs1, .fs2, .fs3, .fs4, .fs5, .fs6, .fs7, .fs8, .fs9, .fs10, .fs11 {
  line-height: 1em;
}

.fs1 {
  font-size: 3.7rem;
}
.fs2 {
  font-size: 1.9rem;
}
.fs3 {
  font-size: 6.3rem;
}
.fs4 {
  font-size: 2.2rem;
}
.fs5 {
  font-size: 2.5rem;
}
.fs6 {
  font-size: 4.4rem;
}
.fs7 {
  font-size: 3.1rem;
}
.fs8 {
  font-size: 4.8rem;
}
.fs9 {
  font-size: 3.7rem;
}
.fs10 {
  font-size: 3.7rem;
}


.header {
  height: 146px;
  background: url(./assets/Asset\ 2-100-2.jpg) center center/cover no-repeat;  
  object-fit: contain;
  flex-direction: column;
}

.header-title {
  color: var(--secondary-text);
}

.header-title.-larger {
  font-size: 7rem;
  line-height: .9em;
}

.header-title.-dashed {
  font-size: 3rem;
}

.header-title.-dashed::before,
.header-title.-dashed::after {
  background: var(--secondary-text);
  top: 50%;
}

.-dashed {
  display: inline-flex;
  position: relative;
}

.-dashed::before,
.-dashed::after {
  content: '';
  display: block;
  width: 7px;
  height: 2px;
  background: var(--primary-text);
  position: absolute;
  top: 40%;
}

.-dashed::before {
  left: -15px;
}

.-dashed::after {
  right: -15px;
}

.section-title-wrapper {
  height: 64px;
  background: var(--primary);
}

.section-title {
  font-family: 'Knockout-HTF47';
  font-size: 4.2rem;
  color: var(--secondary-text);
  display: inline-flex;
  position: relative;
}

.section-title::before,
.section-title::after {
  content: '';
  display: block;
  width: 15.5px;
  height: 14.7px;
  background: url(./assets/Asset\ 3.svg) center center/cover no-repeat;
  position: absolute;
  top: 35%;
}

.section-title::before {
  left: -25px;
}

.section-title::after {
  right: -25px;
}

.separator-text {
  display: inline-flex;
  background: var(--primary-bg);
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.separator-bg {
  width: 280px;
  position: absolute;
  left: 20px;
}

.double-line-text {
  color: var(--primary);
}

.double-line {
  height: 10px;
  top: 30%;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  width: 42.5%;
  margin-top: 20px;
}

.icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 17px;
}

.icon-title.small {
  width: 100px;
  margin: 0 auto;
}

.or-bg {
  height: 2px;
  background: var(--primary-text);
  top: 50%;
}

.due-bg {
  height: 15px;
  border: 2px solid var(--primary-text);
  border-bottom: 0;
  top: 45%;
}

.drags .card {
  width: 23%;
}

.ribbon {
  width: 280px;
  height: 50px;
  background: url(./assets/Asset\ 9.svg) center center/cover no-repeat;
  margin-top: 40px;
  position: relative;
}

.ribbon-title {
  display: inline-flex;
  color: var(--secondary-text);
  position: relative;
  top: -8px;
  z-index: 2;
  background: var(--primary);
  padding: 0 10px;
}

.ribbon-bg {
  width: 170px;
  height: 2px;
  background: var(--secondary-text);
  position: absolute;
  top: 30%;
  left: 20%;
}

.raqtangle {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.raqtangle-bg {
  width: 190px;
  height: 32px;
  border: 2px solid var(--primary);
  left: 65px;
  top: 25%
}

.raqtangle-big {
  margin-bottom: -12px;
}

.raqtangle-big .separator-text {
  padding-bottom: 5px;
}
.raqtangle-big .separator-text:nth-of-type(2) {
  margin-top: -5px;
}

.raqtangle-big .raqtangle-bg {
  height: 45px;
}

.raqtangle-wide .raqtangle-bg {
  width: 220px;
  left: 50px;
}

.arrows {
  width: 220px;
  height: 58px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 6px;
  height: 100%;
  background: url(./assets/Asset\ 10.svg) center bottom/100% no-repeat;
  position: relative;
  top: -12px;
}

.arrow1 {
  height: 50%;
}

.arrow2 {
  height: 66.6666%;
}

.arrow3 {
  height:83.3333%;
}

.raqtangle-large .raqtangle-bg {
  width: 260px;
  height: 50px;
  left: 30px;
  border-width: 3px;
}